In [1]:
import settings
import os
from rec.data import RecDataModule

In [2]:
os.getcwd()

'/home/cyanos/Workspace/FedRec/LoRA-FedRec/FedNCF/notebooks'

In [3]:
dm = RecDataModule(root="../../dataset/pinterest/")

In [4]:
dm.setup()

In [5]:
dm.post_train_df.nunique()

user      55187
item       9911
rating        1
dtype: int64

In [31]:
len(dm.post_train_df)

89941

In [26]:
dm.post_train_df.max()

user       1082.0
item      38332.0
rating        1.0
dtype: float64

In [27]:
set(range(dm.post_train_df.item.max() + 1)) - set(dm.post_train_df.item.unique())

set()

In [28]:
dm.test_df

      user  pos_item                                         neg_sample
0        0      5411  [7352, 1659, 18108, 16128, 14704, 9206, 6771, ...
1        1     10774  [38280, 26213, 23760, 14406, 9091, 33430, 3238...
2        2     20356  [8683, 37474, 37813, 31027, 15965, 31047, 2672...
3        3       775  [19722, 30033, 20782, 4788, 619, 30103, 36970,...
4        4      1052  [22956, 20041, 14948, 14642, 1566, 12689, 2615...
...    ...       ...                                                ...
1078  1078     17828  [20434, 4208, 270, 18900, 25524, 35512, 29337,...
1079  1079      7279  [5205, 18649, 2891, 14623, 33026, 4077, 31097,...
1080  1080       572  [22681, 17411, 9263, 23069, 15254, 16202, 3277...
1081  1081     35967  [27683, 18577, 745, 3393, 30644, 37467, 25303,...
1082  1082      9315  [15807, 18503, 10350, 27412, 30039, 9718, 1753...

[1083 rows x 3 columns]