In [7]:
import settings
import os
from rec.data import RecDataModule

In [8]:
os.getcwd()

'/home/cyanos/Workspace/FedRec/LoRA-FedRec/FedNCF/notebooks'

In [9]:
dm = RecDataModule(root="../../dataset/pinterest/")

In [10]:
dm.setup()

In [11]:
dm.post_train_df.nunique()

user      55187
item       9911
rating        1
dtype: int64

In [12]:
dm.post_train_df.max()

user      55186.0
item       9915.0
rating        1.0
dtype: float64

In [13]:
set(range(dm.post_train_df.item.max() + 1)) - set(dm.post_train_df.item.unique())

{7794, 9477, 9506, 9646, 9832}

In [15]:
dm.test_df

        user  pos_item                                         neg_sample
0          0         1  [2670, 8388, 5861, 5089, 3480, 8811, 7193, 860...
1          1        25  [4356, 4583, 8106, 4673, 4485, 3465, 1339, 362...
2          2        44  [6903, 7880, 2175, 2316, 2550, 9796, 3948, 135...
3          3        66  [3864, 662, 4327, 7404, 7764, 8957, 1617, 7475...
4          4        94  [6471, 5578, 2198, 2286, 7429, 4957, 3566, 762...
...      ...       ...                                                ...
55182  55182      2387  [1567, 3306, 7272, 523, 6010, 8054, 248, 6602,...
55183  55183      1321  [426, 4211, 3887, 7712, 4719, 1574, 2669, 1328...
55184  55184       770  [7, 4225, 4711, 1415, 1330, 2047, 9524, 7968, ...
55185  55185      1471  [1705, 2292, 4918, 626, 1735, 1471, 9317, 9649...
55186  55186      4009  [9659, 2216, 9056, 6422, 2459, 1951, 4744, 557...

[55187 rows x 3 columns]